<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="page-header">Yeni Konuşma Parçası</h1>
        </div>        
    </div>
    <%= form_for @block, url: {action: "create"} do |b| %>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Title</span>
                    <%= b.text_field :name, class: "form-control", placeholder: "Konuşma Parçası için isim giriniz"  %>                    
                </div>
            </div>
            <div class="col-sm-2">
                <%= link_to "Kaydet", blocks_path(b), :method => 'post', class: "btn btn-success btn-lg btn-block" %>
            </div>
        </div>         
        <br/>   
        <div class="col-sm-2" id="thumbnail_schema">
            <div class="thumbnail" >
                <%= image_tag("image_placeholder") %>
                <br/>
                <a href="#" class="btn btn-primary btn-block add-image-button" role="button">Resim Ekle</a>     
                <br/>         
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-font"></span></span>
                    <%= b.text_area :text, class: "form-control", placeholder: "Açıklama" %>                    
                </div>                                                 
                <br />
                <a href="#" class="btn btn-primary btn-block" role="button">Hazır seçim</a>                                
            </div>    
        </div>
        <div class="row" id="galeries">   
            <div class="col-sm-2" id="new_thumbnail">
                <div class="thumbnail" style="display:table-cell;vertical-align:middle">                
                    <a href="#" class="btn btn-primary btn-block new-galery" role="button">Yeni Galeri Seçeneği</a>                
                </div>          
            </div>     
        </div>
        
    <% end %>
</div>
<script> 
$(document).ready(function() {
    $("#thumbnail_schema").hide();
    add_galery();    
    $(".new-galery").click(function(event) {
        event.preventDefault();
        add_galery();        
    });
    $(".add-image-button").click(function(event) {
        event.preventDefault();        
    });
});
function add_galery()
{
    var schema = $("#thumbnail_schema").clone();      
    schema.show().insertBefore("#new_thumbnail");        
    equalHeight($("#galeries .thumbnail")); 
}
function equalHeight(group) {    
    var tallest = 0;    
    var widest = 0;
    group.each(function() {       
        var thisHeight = $(this).height();       
        if(thisHeight > tallest) {          
            tallest = thisHeight;       
        }    
        var thisWidth = $(this).width();
        if(thisWidth > widest) {
            widest =thisWidth;
        }
    });    
    group.each(function() { $(this).height(tallest); })
    group.each(function() { $(this).width(widest); })
}
</script>