<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="page-header">Serbest Metin</h1>
        </div>        
    </div>
    <%= form_for @block, controller: "block", action: "create_free_text", url: {action: "create"} do |b| %>           
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail" >  
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">Başlık</span>
                        <%= b.text_field :name, class: "form-control", placeholder: "Konuşma Parçası için isim giriniz"  %>                    
                    </div>
                    <hr/>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">Metin</span>
                        <%= b.text_field :text, class: "form-control", placeholder: "Konuşma Parçası için isim giriniz"  %>                    
                    </div>
                    <hr/>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">İşlem</span>
                        <%= b.text_field :action, class: "form-control", placeholder: "Girilen metin ile çağrılacak işlemin adını giriniz"  %>                    
                    </div>
                </div>
            </div>            
        </div> 
        <div class="row">
            <div class="col-sm-6">
                <%= b.submit "Kaydet", class: "btn btn-success btn-lg btn-block" %>
            </div>
        </div>
    <% end %>
</div>