<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="page-header">Yeni Konuşma Parçası</h1>
        </div>        
    </div>
    <%= form_for @block, url: {action: "create"} do |b| %>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Title</span>
                    <%= b.text_field :name, class: "form-control", placeholder: "Konuşma Parçası için isim giriniz"  %>                    
                </div>
            </div>            
        </div>         
        <br/>   
        <div class="row">
            <div class="col-sm-4" id="thumbnail_schema">
                <div class="thumbnail" >                                                
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-font"></span></span>
                        <%= b.text_area :text, class: "form-control", placeholder: "Açıklama" %>                    
                    </div>    
                    <hr/>                 
                    <%= b.fields_for :quick_replies do |qr| %>
                    <div class="input-group" style="width: 100%">                            
                        <%= qr.text_field :title, class: "form-control", placeholder: "Kullanıcıya gösterilecek mesaj" %>                            
                    </div>
                    <br/>  
                    <div class="input-group" style="width: 100%">                                                        
                        <%= qr.text_field :payload, class: "form-control input-block-level", placeholder: "Seçilecen menü adımı" %>
                    </div>    
                    <hr/>    
                    <% end %>                                                                                                                                
                </div>    
            </div>        
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                    <%= b.submit "Kaydet", class: "btn btn-success btn-lg btn-block" %>
                </div>
        </div>
    <% end %>
    <div id="quick_reply" style="display: none">
        
    </div>
</div>
