<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="page-header">Yeni Konuşma Parçası</h1>
        </div>        
    </div>
    <%= form_for @block,  do |b| %>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Title</span>
                    <%= b.text_field :name, class: "form-control", placeholder: "Konuşma Parçası için isim giriniz"  %>                    
                </div>
            </div>            
        </div>         
        <br/>   
        <div class="row">
            <div class="col-sm-4" id="thumbnail_schema">
                <div class="thumbnail" >                                                
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-font"></span></span>
                        <%= b.text_area :text, class: "form-control", placeholder: "Açıklama" %>                    
                    </div>    
                    <hr/> 
                    <% @block.quick_replies.each do |reply|  %>                    
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <span class="glyphicon glyphicon-font"></span><%= reply.title %><span class="glyphicon glyphicon-envelope"></span><%= reply.payload %>
                                <%= link_to "Sil", destroy_blocks_quick_reply_path(@block.id, reply.id), :confirm => "Hızlı cevabı silmek istediğinize emin misiniz?", :method => :delete, class:"btn btn-danger btn-sm pull-right" %>
                            </div>
                        </div>                                                                    
                        <hr/>                     
                    <% end %>
                                    
                    <%= b.fields_for :quick_replies do |qr| %>
                    <div class="input-group" style="width: 100%">                            
                        <%= qr.text_field :title, class: "form-control", placeholder: "Kullanıcıya gösterilecek mesaj" %>                            
                    </div>
                    <br/>  
                    <div class="input-group" style="width: 100%">                                                        
                        <%= qr.text_field :payload, class: "form-control input-block-level", placeholder: "Seçilecen menü adımı" %>
                    </div>    
                    <hr/>    
                    <% end %>                                                                                                                                
                </div>    
            </div>        
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-2">
                <%= b.submit "Kaydet", class: "btn btn-success btn-lg btn-block" %>
            </div>
            <div class="col-sm-2">
                <%= link_to "Sil", destroy_block_path(@block.id), :confirm => "Yazışma parçasını silmek istediğinize emin misiniz?", class: "btn btn-danger btn-lg btn-block", :method => :delete %>
            </div>
        </div>
    <% end %>
    <div id="quick_reply" style="display: none">
        
    </div>
</div>
